<div class="toolbar" role="banner">
  <span>ngx-object-diagram</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Basic Usage</h2>
  <p>This is a basic usage of ngx-object-diagram</p>

  <div class="card-container">
    <ngx-object-diagram [objs]="simpleObjs"></ngx-object-diagram>
  </div>

  <h2>Assoc Usage</h2>
  <p>This sample shows the usage with associated objects</p>

  <div class="card-container">
    <ngx-object-diagram [objs]="assocObjs"></ngx-object-diagram>
  </div>
</div>
